
.container {
  display: flex;
  justify-content: space-around;
  padding: 2em;
  box-sizing: border-box;
}

.container div {
  width: 50%;
}

.container p {
  width: 100%;
  text-align: center;
}

.container li {
  width: 100%;
  text-align: center;
  color: white;
}


.container form{
  width: 100%;
  text-align: center;
}

.container img {
  border: 3px solid #303835;
  text-align: center;
  width: 50%;
}

@media(max-width: 500px) {
  .container {
      flex-direction: column;
  }
}

